
    .hotelCard {
        width: 18rem;
        background-color: #f5f5f5;
        color: #242424;
        border-radius: 4px;
        outline: none;
        border: none;
        line-height: 1.15;
        box-shadow: 0px 10px 20px -18px;
      }
      
      .hotelCard:focus {
        border-bottom: 2px solid #706f6f;
        border-radius: 4px 4px 2px 2px;
      }
      
      .hotelCard:hover {
        outline: 1px solid lightgrey;
      }

